* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

/* Header styles */
header {
  background-color: #ffffff;
  /*padding: 10px 150px;*/
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    margin-left: 155px;
}

.logo img:hover {
    cursor: pointer;
    width: 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #b1b1b157;
  width: 300px;
  background-color: #d9c0de21;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 90px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #895ea8;
  font-size: 14px;
  font-weight: 600;
}

.nav-icon {
  width: 20px;
  height: 20px;
  filter: brightness(1.8);
}

.nav-icon.active{
  filter: brightness(2.2);
}

.home-icon:hover img {
  content: url(../images/home-icon-active.png);
  filter: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*height: calc(100vh - 70px);*/
  flex-direction: row;
  height: 92.9%;
  background: linear-gradient(42deg, #ded3eb -15%, #fff 80%);
  background: linear-gradient(42deg, #ded3eb -15%, #ffeeee7d 80%);
}

#profile-icon {
  filter: brightness(1.9);
  filter: sepia(9.4) hue-rotate(249deg) saturate(6.5);
}

.profile-icon:hover #profile-icon {
  content: url(../images/profile-icon-active.png);
  filter: none;
}


#message-icon {
  filter: contrast(56%);
}

.message-icon:hover img {
  content: url(../images/message-icon-active.png);
  filter: none;
}

.message-icon.active img {
  content: url(../images/message-icon-active.png);
  filter: none;
}


#logout-icon {
  filter: contrast(113%);
}

.logout-icon:hover img {
  content: url(../images/logout-icon-active.png);
  filter: none;
}


.sent {
    align-self: flex-end;
    background-color: #cfe9ff;
    max-width: 600px;
    font-size: 15px;
    padding: 11px 17px;
    border-radius: 22px;
}

.received {
  align-self: flex-start;
  background-color: #ffffff;
  max-width: 600px;
  font-size: 15px;
  padding: 11px 17px;
  border-radius: 22px;
}

p {
    border-radius: 15px;
    padding: 10px;
    max-width: 50%;
    margin: 5px 0;
    word-wrap: break-word;
}



/* Right column: Chat content */
.chat-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 20px;
  align-self: center;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.chat-header img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.messages {
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    background: linear-gradient(0deg, #d9c0de21, transparent);
}

#message {
    width: 100%;

}

#message-form {
    flex: 1;
}

.message-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ddd;
    padding: 15px 10px;
    background-color: #d9c0de21;
}

.message-section input[type="text"] {
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding: 11px 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    margin-right: 10px;
}

.message-section input[type="submit"] {
    display: none;
}

.message-section input[type="text"]:focus {
    outline: none;
}

.user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid white;
    display: flex;
}

.message-div {
    display: flex;
    align-items: center;
    position: relative;
}

.message-div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}






/* Left column: Chat list */
.chat-list {
  width: 22%;
  background-color: #fff;
  /* border-right: 1px solid #ccc; */
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 35px;
  margin: 10px;
  /* background: linear-gradient(42deg, #fff -15%, #a95bb000 80%); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 13px;
  padding-right: 13px;
}

.chat-title {
  margin-top: 0;
  margin-bottom: 7px;
  color: #3b3c3ccc;
  font-size: 20px;
  padding-left: 10px;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  /*margin-bottom: 10px;*/
  border-radius: 20px;
}

.chat-item:hover {
  background-color: #a561b117;
}

.chat-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 12px;
}

.chat-item span {
  font-size: 16px;
  color: #333;
}

.latest-message {
  margin: 0;
  font-weight: 400;
  color: #8f8f8fbf;
  overflow: hidden;
  max-width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-ago {
  color: #00000099;
  font-size: 13px;
  margin-left: auto;
  font-weight: 400;
}

/* Start a new chat msg */
.empty-chat-message {
  align-content: center;
  text-align: center;
  padding: 116px;
  box-sizing: border-box;
  color: #555;
  /*background: linear-gradient(42deg, #ded3eb -15%, #fff 80%);*/
  /*width: -webkit-fill-available;*/
  width: 78%;
}

.empty-chat-message h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
  color: #333333e6;
}

.empty-chat-message h3 {
  font-size: 14px;
  color: #666;
  color: #a561b1;
  font-weight: 400;
}

.current-chat {
  background-color: #a561b117;
}

.status {
  padding-right: 5px;
  font-size: 12px;
  letter-spacing: -3px;
  text-align: right;
  position: absolute;
  color: #afafaf;
  right: 3.8%;
  bottom: -3px;
}

#blue-status {
  color: #2196f3;
}