/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f2f5;
    background: linear-gradient(40deg, #ded3eb53 -15%, #e1dbe744 80%);
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    bottom: -183px;
    left: 10%;
    width: 1205px;
    height: 1036px;
    background: url(../images/logo_cut.png) no-repeat;
    background-size: cover;
    opacity: 0.06;
    z-index: -1;
    pointer-events: none;
    transform: rotate(-30deg);
    filter: blur(7px);
}

/* Header styles */
header {
    background-color: #ffffff;
    padding: 10px 150px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-icon {
    width: 20px;
    height: 20px;
    filter: brightness(1.8);
}

.nav-icon.active{
    filter: brightness(2.2);
}

.home-icon:hover img {
    content: url(../images/home-icon-active.png);
    filter: none;
}

.home-icon.active img {
    content: url(../images/home-icon-active.png);
    filter: none;
}

#profile-icon {
    filter: brightness(1.9);
    filter: sepia(9.4) hue-rotate(249deg) saturate(6.5);
}

.profile-icon:hover #profile-icon {
    content: url(../images/profile-icon-active.png);
    filter: none;
}

#message-icon {
    filter: contrast(43%);
}

.message-icon:hover img {
    content: url(../images/message-icon-active.png);
    filter: none;
}

#logout-icon {
    filter: contrast(113%);
}

.logout-icon:hover img {
    content: url(../images/logout-icon-active.png);
    filter: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    margin-left: 90px;
}

.logo img:hover {
    cursor: pointer;
    width: 32px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #b1b1b157;
    width: 400px;
    background-color: white;
    height: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 90px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #895ea8;
    font-size: 14px;
    font-weight: 600;
}

/* Main content styles */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
}

/* Profile card styles */
.profile-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 20%;
    border-radius: 20px;
}
.profile-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    position: sticky;
    top: 20px;
    z-index: 1;
}

.profile-card .profile-photo {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
}

.profile-card h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    width: 184px;
}

.profile-card p {
    font-weight: 400;
    font-size: 13px;
    color: slategrey;
}

.profile-card .stats {
    margin-top: 10px;
}

.profile-card .stats h2 {
    font-weight: 300;
    font-size: 13.9px;
}



.scroll-nav {
    transition: opacity 0.3s ease-in-out;
    padding: 10px;
    border-top: 1px solid #ddd;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    padding-top: 15px;
}

.scroll-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.scroll-nav img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}


.scroll-nav h2 {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    width: fit-content;
    margin-bottom: 5px;
    color: #5b195f;
}

.scroll-nav {
    transition: opacity 0.3s ease-in-out;
}

.scroll-nav.visible {
    opacity: 1; /* Show when scrolled */
}




/* Feed styles */
.feed {
    flex-grow: 1;
    margin: 0 20px;
    min-height: 742px;
    width: 55%;
}

.post-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border-radius: 20px;
}

.post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    resize: none;
    overflow: hidden;
}

.post-form textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #999;
    font-weight: normal;
}

.post-form .post-btn-err {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-form button {
    background-color: #895ea8;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: auto;
}

.upload-section {
    display: flex;
    align-items: center;
}

.photo-upload-button {
    display: flex;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    align-items: center;
}

.photo-icon-container {
    display: inline-block;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    padding: 4px;
    height: 18px;
    width: 18.9px;
    border-radius: 4px;
    margin-right: 7px;
}

.photo-icon {
    width: 30px;
    display: block;
    transform: translate(-9.5px, -10px);
}

#file-upload {
    display: none; /* Hide the actual file input */
}

.image-preview {
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    object-fit: cover;
    width: 610px;
}

.upload-section h5 {
    margin: 0;
    color: #333;
    margin-left: 5px;
    font-weight: 400;
}

.upload-section h5:hover {
    color: #898989;
}

.post-form.typing {
    /*
    transition: background-color 0.3s ease-in;
    background: linear-gradient(200deg, #ae9cc0 -50%, #f6f4f8 80%); */
    transition: background-color 0.3s;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
}

.error-message {
    display: none;
    color: #ff00007a;
    font-size: 11px;
    margin-left: 10px;
}











.post {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
}

.post header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: none;
    padding: 0;
}

.post header img {
    border-radius: 50%;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.post .user-info h3 {
    font-weight: 400;
    font-size: 17px;
}

.post .user-info h5 {
    font-size: 13px;
    color: darkgrey;
    font-weight: 400;
    margin-top: -5px;
}

.post-photo {
    overflow: hidden;
    object-fit: cover;
}

.post-photo img {
    border-radius: 20px;
    object-fit: cover;
    /*width: 626px;*/
    width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
}

.post .text-content {
    padding: 8px 0px 18px;
    white-space: pre-wrap;
    font-weight: 400;
    /*line-height: 0.7;*/
    font-size: 14px;
    color: #000000cf;
}

.likes-counter {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes-counter span {
    display: block;
    color: darkgrey;
    font-weight: 400;
    font-size: 13px;
}

.likes-counter .like-symbol {
    width: 16px;
    height: 16px;
    align-self: center;
    margin-right: 8px;
}

.comments_no {
    margin-left: auto;
    cursor: pointer;
}

.likes_no {
    position: absolute;
    margin-left: 24px;
}

.post .post-buttons {
    border-top: 1px solid #efecf3;
    display: flex;
    align-items: center;
    height: 39px;
}

.thumbsup-symbol {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}

.comment-symbol {
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-right: 8px;
    cursor: pointer;
    filter: invert(48%) sepia(0%) saturate(3242%) hue-rotate(130deg) brightness(86%) contrast(114%);
}


#like-group, .comment-group {
    display: flex;
}

#like-group:hover .thumbsup-symbol,
#like-group:hover #like {
    filter: sepia(14.4) hue-rotate(200deg) saturate(4.5);
    background-color: transparent;
}

.comment-group:hover .comment-symbol,
.comment-group:hover #comment {
    filter: sepia(14.4) hue-rotate(424deg) saturate(2.8);
    background-color: transparent;
}

.post .post-buttons h5 {
    background-color: white;
    color: grey;
    border: none;
    padding: 8px 5px 8px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 33px;
}

#blue-like {
    width: 22px;
    height: 22px;
    margin-top: 13px;
    cursor: pointer;
    margin-right: 7px;
    margin-left: 5px;
}

#liked {
    filter: sepia(14.4) hue-rotate(200deg) saturate(4.5);
    background: transparent;
}




.comment-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 5px 15px 5px;
  }
  
  .comment-div .pic img,
  .prev-comments .pic img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    vertical-align: middle;
  }
  
  .comment-div input[type="text"] {
    border-radius: 20px;
    border: none;
    background-color: #dddddd52;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    padding-left: 14px;
    margin-right: 6px;
  }

  .comment-div input[type="text"]:focus {
    border: 1px solid #97979752;
  }
  
  .comment-div input[type="submit"] {
    border: none;
    background-color: #7a51a370;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    width: 36px;
  }

  .comment-div input[type="submit"]:hover {
    background: linear-gradient(200deg, #623b88 -50%, #dfcfef 80%);
  }
  
  .comment-div form {
    flex: 1;
  }
  
  .comment-div .input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .comment-div input:focus {
    outline: none;
  }


  .prev-comments {
    border-top: 1px solid #efecf3;
    padding: 0 15px 0 0;
    margin-top: 8px;
    padding-top: 8px;
  }
  
.comment-item {
    display: block;
    background-color: #F0F2F5;
    padding: 12px 19px;
    border-radius: 24px;
    margin: 5px 0;
    width: 100%;
    font-size: 14px;
    line-height: normal;
}
  
  .post-comments {
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
  }

  .post-comments .pic {
    width: 37px;
    height: 34px;
    box-shadow: none;
    margin-top: 18px;
  }
  
  .comment-writer {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }


/* Suggestions styles */
.suggestions {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 25%;
    height: max-content;
    border-radius: 20px;
    position: sticky;
    top: 20px;
}

.suggestions h3 {
    font-size: 14px;
    font-weight: 400;
    color: darkgrey;
}

.suggestions ul {
    list-style-type: none;
    margin-top: 15px;
}

.suggestions li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 20px;
}

.suggestions li:hover {
    background-color: #ebebeb;
    color: #fff;
    cursor: pointer;
}

.suggestions li img {
    border-radius: 50%;
    margin-right: 10px;
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.suggestions li span {
    margin-right: 15px;
    font-size: 14px;
    color: #895ea8;
    font-weight: bold;
}

.suggestions li span h5 {
    color: darkgrey;
    margin-top: -2px;
    font-weight: 100;
    font-size: 11px;
}

.suggestions button {
    background-color: white;
    color: #895ea8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    border: 1px solid #895ea8;
    border-radius: 20px;
    font-size: 12px;
    width: 90px;
}

.suggestions .unfollow-button {
    background-color: #895ea8;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: auto;
    /* border: 1px solid white; */
    border-radius: 20px;
    font-size: 12px;
}

.suggestions button:hover {
    background-color: #895ea8;
    color: white;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    width: -webkit-fill-available;
}

.notification-container {
    position: relative;
}

.notification-bell {
    cursor: pointer;
    position: relative;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 0px 4px;
    border-radius: 50%;
    font-size: 12px;
}
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 22px;
    color: #8c368f;
}

.notification-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.notification-dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 300px;
    display: block;
}

.notification-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.notification-dropdown li:hover {
    background-color: #f1f1f1;
}

.notification-dropdown li:last-child {
    border-bottom: none;
}