html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(135deg, #ded3eb -15%, #fff 80%);
}

.header-container {
    padding: 15px 40px;
    /* background-color: #400269; */
}

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    margin-left: 20px;
}

.logo {
    padding: 10px;
    display: contents;
}

.logo img {
    height: 4%;
    width: 4%;
}

.main-container {
    display: flex;
    flex: 1;
}

.r-cont {
    width: 50%;
}

.l-cont {
    width: 50%;
    align-self: center;
}

.form-container {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 30px 40px;
    width: 40%;
    backdrop-filter: blur(10px); /* Glass blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: 100px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.form-container label {
    font-weight: bold;
    color: #69308f;
    margin-bottom: 8px;
    display: block;
    font-size: 15px;
    text-align: left;
}
.form-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
    margin-bottom: 20px;
    margin-top: -10px;
}

.form-container input[type="submit"] {
    background-color: #634fa5;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #8477ab;
    color: white;
}

.form-container input[type="submit"]:focus {
    outline: none;
}

.reg {
    padding: 16px 40px;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 7px;
}

.reg:hover {
    background-color: #49c73d;
    cursor: pointer;
}

input::placeholder {
    color: #9c9b9b;
}

input[type="submit"] {
    margin-top: 10px;
}

.cover {
    height: 140px;
    width: 140px;
}

#cover {
    margin-top: 40px;
    text-align: center;
    align-self: center;
}