* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f2f5;
}

/* Header styles */
header {
  background-color: #ffffff;
  /*padding: 10px 150px;*/
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo img {
  width: 24px;
  margin-left: 155px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #b1b1b157;
  width: 300px;
  background-color: #d9c0de21;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 90px;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #895ea8;
  font-size: 14px;
  font-weight: 600;
}

.nav-icon {
  width: 20px;
  height: 20px;
  filter: brightness(1.8);
}

.nav-icon.active{
  filter: brightness(2.2);
}

#profile-icon {
  filter: brightness(1.9);
  filter: sepia(9.4) hue-rotate(249deg) saturate(6.5);
}

#message-icon {
  filter: contrast(56%);
}

#logout-icon {
  filter: contrast(113%);
}







.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.cover-photo {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
  }
  
  .cover-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 1;
  }
  
  .cover-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 0 20px 20px 20px;
  }

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 4px solid #ffffff;
  margin-right: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: -40px;
  cursor: pointer;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.profile-details {
  flex: 1;
}

.profile-details h1 {
  margin: 0;
  font-size: 2em;
}

.profile-details p {
  margin: 5px 0;
  color: #2e2d2d;
}

.profile-buttons {
  margin-top: 10px;
}

.profile-buttons button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.profile-buttons button:hover {
  background-color: #0056b3;
}

.post-grid {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bio {
    width: 40%;
    margin-right: 25px;
  }

  .posts {
    width: 60%;
  }
  
  .post-item {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    overflow: hidden; 
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    /*height: 712px;*/
    height: fit-content;
  }
  
  .post-item img {
    width: 100%;
    height: 105%;
    object-fit: cover;
  }
  
  .post-buttons button:hover {
    background-color: #ebebeb93;
  }

  .post-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #fff;
    margin-left: 11px;
    margin-top: 11px;
  }

.post-header .pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.comment-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px 15px 25px;
}

.comment-div .pic,
.prev-comments .pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.comment-div input[type="text"] {
  border-radius: 20px;
  border: none;
  background-color: #ddd;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.comment-div input[type="submit"] {
  border: none;
  background-color: #0056b3;
  color: #fff;
  font-size: 24px;
  border-radius: 35%;
  cursor: pointer;
}

.comment-div form {
  flex: 1;
}

.comment-div .input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-div input:focus {
  outline: none;
}

.post-header h3 {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 16px;
}

.post-header p {
  margin: 0;
  font-size: 14px;
  font-weight: 200;
}

.post-content {
  margin: 85px 0 15px 0;
  flex: 1;
  overflow: hidden;
}

.content-text {
  padding: 15px;
  margin: 0 15px;
}

.post-image {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.post-image img {
  display: block;
  width: 100%;
  height: auto;
}

.info {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
  overflow: hidden; 
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

h2 {
  margin: 0;
}

h4 {
  font-weight: 300;
}

.footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  width: 100%;
  position: relative;
  bottom: 0;
}

#edit-cover {
  position: absolute;
  top: 90%;
  right: -5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 15%;
  height: 11%;
}

#edit-photo {
  padding: 3px;
  position: absolute;
  top: 40%;
  left: 11%;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

#edit-cover img,
#edit-photo img {
  height: 30px;
  width: 35px;
  padding: 5px;
}

h6 {
  margin: 0 0 0 4px;
  font-size: 15px;
  font-weight: 600;
}

#cover-update,
#photo-update {
  display: none;
}

#edit-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 15px 5px 8px;
  margin-right: 10px;
}

#edit-profile img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.795);
  display: none;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 700px;
}

.close-btn {
  border-radius: 50%;
  padding: 6px;
  background-color: #ddd;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.blur {
  filter: blur(8px);
}

.edit-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.edit-header h2 {
  flex: 1;
}

.edit-info {
  padding: 0 25px;
}

.likes-counter {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  margin-left: 30px;
}

.likes-counter span {
  display: block;
  color: darkgrey;
  font-weight: 400;
}

.likes-counter .like-symbol {
  width: 16px;
  height: 16px;
  align-self: center;
  margin-right: 8px;
}

.post-buttons {
  border-top: 1px solid #e2dede;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.post-buttons .thumbsup-symbol {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.post-buttons .comment-symbol {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  cursor: pointer;
  filter: invert(48%) sepia(0%) saturate(3242%) hue-rotate(130deg) brightness(86%) contrast(114%);
}

.post-buttons button {
  background-color: white;
  color: grey;
  border: none;
  padding: 8px 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 33px;
  display: flex;
  align-items: center;
}

.prev-comments {
  border-top: 1px solid #e2dede;
  padding: 0 15px;
}

.comment-item {
  display: block;
  background-color: #e9e9e9;
  padding: 14px;
  border-radius: 20px;
  margin: 15px 0;
  width: fit-content;
  font-size: 15px;
}

.post-comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment-writer {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.unlike .thumbsup-symbol {
  width: 31px;
  height: 31px;
  margin-right: 2px;
  padding: 5px;
}