<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Up</title>
    <link rel="icon" href="../static/images/logo.png" />
    <link rel="stylesheet" href="../static/styles/chat.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/scripts/chat.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/logo_cut.png">
            </div>
            <input type="text" placeholder="Search...">
            <ul>
                <!--Feed-->
                <li>
                  <a href="{{ url_for('home') }}">
                      <img class="nav-icon" src="../static/images/home-icon.png">
                  </a>
                </li>
                
                <!--Profile-->
                <li>
                    <a href="#">
                        <img class="nav-icon" id="profile-icon" src="../static/images/profile-icon.png">
                    </a>
                </li>
                
                <!--Messages-->
                <li>
                    <a href="#">
                        <img class="nav-icon" id="message-icon" src="../static/images/message-icon.png">
                    </a>
                </li>
                
                <!--Logout-->
                <li>
                    <a href="{{ url_for('logout') }}">
                        <img class="nav-icon" id="logout-icon" src="../static/images/logout-icon.png">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="main-container" data-current-id="{{ user.id }}" data-other-id="{{ other_user.id }}">
        <!-- Left Column: Suggested chats -->
        <div class="chat-list">
            <!--
            <div class="chat-item">
                <img src="../static/images/avatar.png" alt="User 1">
                <span>User 1</span>
            </div>
            <div class="chat-item">
                <img src="../static/images/avatar.png" alt="User 2">
                <span>User 2</span>
            </div>
            -->
        </div>

        <!-- Right Chat Colum -->
        <div class="chat-content">

            <div class="chat-header">
                <img src="{{ other_user.profile_photo }}" alt="Receiver Photo">
                <span>{{ other_user.name }}</span>
            </div>

            <div class="messages">
                <!-- chat messages will be displayed here -->
            </div>

            <div class="message-section">
                <div class="user-photo">
                    <img src="{{ user.profile_photo }}">
                </div>
                <form id="message-form" autocomplete="off">
                    <input id="message" type="text" placeholder="Type a message">
                    <input type="submit" value="Send">
                </form>
            </div>

        </div>
    <div>
</body>
</html>