<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Up</title>
    <link rel="icon" href="../static/images/logo.png"/>
    <link rel="stylesheet" href="../static/styles/feed.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/scripts/feed.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/logo_cut.png">
            </div>
            <input type="text" placeholder="Search...">
            <ul>
                <!--Feed-->
                <li>
                    <a href="#">
                        <img class="nav-icon" src="../static/images/home-icon.png">
                    </a>
                </li>
                
                <!--Profile-->
                <li>
                    <a href="{{ url_for('profile', user_id=current_user.id) }}">
                        <img class="nav-icon" id="profile-icon" src="../static/images/profile-icon.png">
                    </a>
                </li>
                
                <!--Messages-->
                <li>
                    <a href="{{ url_for('chat_page', chat_id=current_user.id) }}">
                        <img class="nav-icon" id="message-icon" src="../static/images/message-icon.png">
                    </a>
                </li>
                
                <!--Logout-->
                <li>
                    <a href="{{ url_for('logout') }}">
                        <img class="nav-icon" id="logout-icon" src="../static/images/logout-icon.png">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- end of Header -->
    
    <main>
        <script>
            var profileUrl = "{{ url_for('profile', user_id=current_user.id) }}";
        </script>
        
        <aside class="profile-card">
            <img class="profile-photo" src="../static/images/1.jpg" alt="Profile Picture">
            <h2>{{ user.name }}</h2>
            <p>Web Developer</p>
            <div class="stats" data-user-id="{{ user.id }}">
                <div>
                    <h2 id="posts-count">Posts: </h2>
                </div>
                <div>
                    <h2 id="followers-count">Followers: </h2>
                </div>
                <div>
                    <h2 id="following-count">Following: </h2>
                </div>
            </div>

            
        </aside>
        
        <section class="feed">
            <div class="post-form" data-user-id="{{ user.id }}">
                <textarea name="content" placeholder="What's on your mind?"></textarea>
                <div class="image-preview"></div>
                <div class="post-btn-err">
                    <div class="upload-section">
                        <label for="file-upload" class="photo-upload-button">
                            <div class="photo-icon-container">
                                <img class="photo-icon" src="../static/images/image-icon.png">
                            </div>
                            <h5>Photo/Video</h5>
                        </label>
                        <input type="file" id="file-upload" name="image" accept="image/*">
                    </div>

                    <button class="post-button" style="display: none;">Post</button>

                    <div class="error-message"></div>
                </div>
            </div>
            
            <!-- Where posts would be -->
            
        </section>
        
        <aside class="suggestions">
            <h3>People You May Know</h3>
            <ul>
                <li>
                    <img src="../static/images/3.jpg" alt="User Avatar">
                    <span>Mahmoud Hammam</span>
                    <button>Follow</button>
                </li>
                <li>
                    <img src="../static/images/2.jpg" alt="User Avatar">
                    <span>Youssef El Ghamour</span>
                    <button>Follow</button>
                </li>
            </ul>
        </aside>
    </main>
    
    <footer>
        <p>&copy; 2024 LinkUp</p>
    </footer>
</body>
</html>