<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Up</title>
    <link rel="icon" href="../static/images/logo.png"/>
    <link rel="stylesheet" href="../static/styles/feed.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/scripts/feed.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/logo_cut.png">
            </div>
            <input type="text" placeholder="Search...">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <!-- end of Header -->
    
    <main>
        <aside class="profile-card">
            <img src="../static/images/1.jpg" alt="Profile Picture">
            <h2>{{ user.name }}</h2>
            <p>Web Developer</p>
            <div class="stats" data-user-id="{{ user.id }}">
                <div>
                    <h2 id="posts-count">Posts: </h2>
                </div>
                <div>
                    <h2 id="followers-count">Followers: </h2>
                </div>
                <div>
                    <h2 id="following-count">Following: </h2>
                </div>
            </div>
        </aside>
        
        <section class="feed">
            <div class="post-form">
                <textarea placeholder="What's on your mind?"></textarea>
                <button>Post</button>
            </div>
            
            <article class="post">
                <header>
                    <img src="../static/images/4.jpg" alt="User Avatar">
                    <div class="user-info">
                        <h3>Some User</h3>
                        <h5>2 hours ago</h5>
                    </div>
                </header>
                <p class="text-content">Just finished a great project! #coding #webdev</p>
                <div class="likes-counter">
                    <img class="like-symbol" src="../static/images/like_symbol.png">
                    <span>123 Likes</span>
                </div>
                <div class="post-buttons">
                    <img class="thumbsup-symbol" src="../static/images/thumbsup-symbol.png">
                    <button>Like</button>
                    <img class="comment-symbol" src="../static/images/comment-symbol.png">
                    <button>Comment</button>
                </div>
            </article>
            
        </section>
        
        <aside class="suggestions">
            <h3>People You May Know</h3>
            <ul>
                <li>
                    <img src="../static/images/3.jpg" alt="User Avatar">
                    <span>Mahmoud Hammam</span>
                    <button>Follow</button>
                </li>
                <li>
                    <img src="../static/images/2.jpg" alt="User Avatar">
                    <span>Youssef El Ghamour</span>
                    <button>Follow</button>
                </li>
            </ul>
        </aside>
    </main>
    
    <footer>
        <p>&copy; 2024 LinkUp</p>
    </footer>
</body>
</html>