<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Up</title>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="brand">
                <div class="logo">
                    <img src="../static/images/logo.png">
                </div>
                <div class="title">Link Up</div>
            </div>
        </div>
    </header>
    <div class="main-container">
        <div class="l-cont">
            <div class="form-container">
                <h2>Login</h2>
                <form>
                    <label for="email">Email:</label>
                    <input type="email">
                    <label for="password">Password</label>
                    <input type="password">
                    <input type="submit" value="Login">
                </form>
                <hr>
                <button class="reg">Create New Account</button>
            </div>
        </div>
        <div class="r-cont">
        </div>
    </div>
</body>
</html>