<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Link Up</title>
  <link rel="icon" href="../static/images/logo.png" />
  <link rel="stylesheet" href="../static/styles/profile.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/scripts/profile.js"></script>
</head>
  <body>
    <header>
      <nav>
          <div class="logo">
              <img src="../static/images/logo_cut.png">
          </div>
          <input type="text" placeholder="Search...">
          <ul>
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('profile', user_id=user.id) }}">Profile</a></li>
              <li><a href="#">Messages</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
      </nav>
  </header>
  <div class="container">
    <div class="profile-header" data-id="{{ user.id }}">
      <div class="cover-photo">
        <div id="edit-cover">
          <img src="../static/images/camera.png">
          <h6>Edit cover photo</h6>
          <input type="file" id="cover-update" accept="image/*">
        </div>
        <img src="{{ user.cover_photo }}" alt="Profile Picture" />
      </div>
      <div class="profile-info">
        <div class="profile-pic">
          <img src="{{ user.profile_photo }}" alt="Profile Picture" />
          <div id="edit-photo"><img src="../static/images/camera.png"></div>
          <input type="file" id="photo-update" accept="image/*">
        </div>
        <div class="profile-details">
          <h1>{{ user.name }}</h1>
          <p>@{{ user.username }}</p>
        </div>
        <div class="profile-buttons">
          {% if current_user.id != user.id %}
            <button>Follow</button>
            <button>Message</button>
          {% else %}
          <div id="edit-profile">
            <img src="../static/images/edit-button.png">
            <h6>Edit profile</h6>
          </div>
          {% endif %}
          <div id="overlay" class="overlay">
            <div class="form-container">
              <div class="edit-header">
                <h2>Edit profile</h2>
                <div id="closeFormBtn" class="close-btn">X</div>
              </div>
              <div class="edit-info">
                <h4>Bio</h4>
                <h4>Education</h4>
                <h4>Work</h4>
                <h4>Location</h4>
                <h4>Phone</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-grid">
      <div class="bio">
        <div class="info">
          <h2>Info</h2>
          <h4>Education</h4>
          <h4>Work</h4>
          <h4>Location</h4>
          <h4>Phone</h4>
        </div>
      </div>
      <div class="posts">
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2024 LinkUp</p>
    </div>
  </div>
</body>
</html>
