<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ user.name }} (@{{ user.username }})</title>
  <link rel="icon" href="../static/images/icon2.png" />
  <link rel="stylesheet" href="../static/styles/profile.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/scripts/profile.js"></script>
</head>
  <body>

    <!-- *** Navigation Header *** -->
    <header>
      <nav>
          <a class="logo" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo_cut.png') }}" alt="Logo">
          </a>
          
          <form id="search-form" autocomplete="off">
            <input id="search-input" type="text" placeholder="Search...">
          </form> 

          <ul>
              <!--Feed-->
              <li>
                <a class="home-icon" href="{{ url_for('home') }}">
                    <img class="nav-icon" src="../static/images/home-icon.png">
                </a>
              </li>
              
              <!--Profile-->
              <li>
                  <a class="profile-icon active" href="{{ url_for('profile', user_id=current_user.id) }}">
                      <img class="nav-icon" id="profile-icon" src="../static/images/profile-icon.png">
                  </a>
              </li>
              
              <!--Messages-->
              <li>
                  <a class="message-icon" href="{{ url_for('chat_page', chat_id=current_user.id) }}">
                      <img class="nav-icon" id="message-icon" src="../static/images/message-icon.png">
                  </a>
              </li>
              
              <!--Logout-->
              <li>
                  <a class="logout-icon" href="{{ url_for('logout') }}">
                      <img class="nav-icon" id="logout-icon" src="../static/images/logout-icon.png">
                  </a>
              </li>
          </ul>
      </nav>
  </header>
  <!-- *** End of Navigation Header *** -->



  <div class="container" data-id="{{ current_user.id }}">

    <div class="profile-header" data-id="{{ user.id }}">

      <div class="cover-photo">
        {% if current_user.id == user.id %}
        <div id="edit-cover">
          <img src="../static/images/camera.png">
          <h6>Edit cover photo</h6>
          <input type="file" id="cover-update" accept="image/*">
        </div>
        {% endif %}
        <img src="{{ user.cover_photo }}" alt="Profile Picture" />
      </div>



      <div class="profile-info">

        <div class="profile-pic">
          <img src="{{ user.profile_photo }}" alt="Profile Picture" />
          {% if current_user.id == user.id %}
          <div id="edit-photo"><img src="../static/images/camera.png"></div>
          <input type="file" id="photo-update" accept="image/*">
          {% endif %}
        </div>

        <div class="profile-details">
          <h1>{{ user.name }}</h1>
          <p>@{{ user.username }}</p>
        </div>

        <div class="profile-buttons">
          {% if current_user.id != user.id %}
            {% if user not in current_user.following %}
              <button class="follow-button">Follow</button>
            {% else %}
              <button class="unfollow-button">Following</button>
            {% endif %}
            <button class="messages">Message</button>
          {% else %}
          <div id="edit-profile">
            <img src="../static/images/edit-button.png">
            <h6>Edit profile</h6>
          </div>
          {% endif %}
          <div id="overlay" class="overlay">
            <div class="form-container">
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="post-grid">
      <div class="bio">
        <div class="info">
          <h2>Info</h2>
          <h4>Education</h4>
          <h4>Work</h4>
          <h4>Location</h4>
          <h4>Phone</h4>
        </div>

        <div class="album">
          <h2>Photos</h2>
          <div class="photos">

          </div>
        </div>
      </div>
      
      <div class="posts">
      </div>
    </div>
  </div>



  <footer>
    <p>&copy; 2024 LinkUp</p>
  </footer>
</body>
</html>
