<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Profile</title>
  <link rel="icon" href="../static/images/logo.png" />
  <link rel="stylesheet" href="../static/styles/profile.css">
</head>
<body>
  <div class="container">
    <div class="profile-header">
      <div class="cover-photo">
        <img src="../static/images/1.jpg" alt="Profile Picture" />
      </div>
      <div class="profile-info">
        <div class="profile-pic">
          <img src="../static/images/2.jpg" alt="Profile Picture" />
        </div>
        <div class="profile-details">
          <h1>{{ user.name }}</h1>
          <p>{{ user.username }}</p>
        </div>
        <div class="profile-buttons">
            <button>Follow</button>
            <button>Message</button>
        </div>
      </div>
    </div>
    <div class="post-grid">
      <div class="bio">
        <div class="info">
          <h2>Info</h2>
          <h4>Education</h4>
          <h4>Work</h4>
          <h4>Location</h4>
          <h4>Phone</h4>
        </div>
      </div>
      <div class="posts">
        {% for post in user.posts %}
        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>{{ user.name }}</h3>
              <p>{{ post.created_at }}</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">{{ post.content }}</p>
            <div class="post-image">
              <img src="../static/images/1.jpg" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>
        {% endfor %}
        
        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>Some User</h3>
              <p>Sunday 29 at 4:15pm</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">another post</p>
            <div class="post-image">
              <img src="" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>

        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>Some User</h3>
              <p>Sunday 29 at 4:15pm</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">another post</p>
            <div class="post-image">
              <img src="../static/images/logo.png" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>

        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>Some User</h3>
              <p>Sunday 29 at 4:15pm</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">another post</p>
            <div class="post-image">
              <img src="../static/images/logo.png" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>

        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>Some User</h3>
              <p>Sunday 29 at 4:15pm</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">another post</p>
            <div class="post-image">
              <img src="" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>

        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>Some User</h3>
              <p>Sunday 29 at 4:15pm</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">another post</p>
            <div class="post-image">
              <img src="" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>
        
        <div class="post-item">
          <div class="post-header">
            <div class="pic">
              <img src="../static/images/1.jpg" alt="Profile Picture" />
            </div>
            <div class="details">
              <h3>Some User</h3>
              <p>Sunday 29 at 4:15pm</p>
            </div>
          </div>
          <div class="post-content">
            <p class="content-text">another post</p>
            <div class="post-image">
              <img src="" alt="post picture" />
            </div>
          </div>
          <div class="post-buttons">
            <button>Like</button>
            <button>Comment</button>
          </div>
        </div>

      </div>
    </div>
    <div class="footer">
      <p>&copy; 2024 LinkUp</p>
    </div>
  </div>
</body>
</html>
