<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ queries|join(' ') }} - Search Results • Link Up</title>
  <link rel="icon" href="../static/images/icon2.png" />
  <link rel="stylesheet" href="../static/styles/search.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/scripts/search.js"></script>
</head>

<body>

    <!-- *** Navigation Header *** -->
    <header class="top-header">
      <nav>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo_cut.png') }}" alt="Logo">
            </a>

            <form id="search-form" autocomplete="off">
                <input id="search-input" type="text" placeholder="Search...">
            </form> 

            <ul>
                <!--Feed-->
                <li>
                    <a class="home-icon" href="{{ url_for('home') }}">
                        <img class="nav-icon" src="../static/images/home-icon.png">
                    </a>
                </li>
              
                <!--Profile-->
                <li>
                    <a  class="profile-icon" href="{{ url_for('profile', user_id=current_user.id) }}">
                        <img class="nav-icon" id="profile-icon" src="../static/images/profile-icon.png">
                    </a>
                </li>
                
                <!--Messages-->
                <li>
                    <a class="message-icon" href="{{ url_for('chat_page', chat_id=current_user.id) }}">
                        <img class="nav-icon" id="message-icon" src="../static/images/message-icon.png">
                    </a>
                </li>
                
                <!--Logout-->
                <li>
                    <a class="logout-icon" href="{{ url_for('logout') }}">
                        <img class="nav-icon" id="logout-icon" src="../static/images/logout-icon.png">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- *** End of Navigation Header *** -->

    <!-- *** Search Results Section *** -->
    <!-- Data queries passed from Flask -->
    <div id="data" data-queries="{{ queries|join(',') }}" data-current-user-id="{{ current_user.id }}"></div>

    <div id="results"></div> 

</body>
</html>